-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: rpg_manager
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `DATABASECHANGELOG`
--

DROP TABLE IF EXISTS `DATABASECHANGELOG`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DATABASECHANGELOG` (
  `ID` varchar(255) NOT NULL,
  `AUTHOR` varchar(255) NOT NULL,
  `FILENAME` varchar(255) NOT NULL,
  `DATEEXECUTED` datetime NOT NULL,
  `ORDEREXECUTED` int NOT NULL,
  `EXECTYPE` varchar(10) NOT NULL,
  `MD5SUM` varchar(35) DEFAULT NULL,
  `DESCRIPTION` varchar(255) DEFAULT NULL,
  `COMMENTS` varchar(255) DEFAULT NULL,
  `TAG` varchar(255) DEFAULT NULL,
  `LIQUIBASE` varchar(20) DEFAULT NULL,
  `CONTEXTS` varchar(255) DEFAULT NULL,
  `LABELS` varchar(255) DEFAULT NULL,
  `DEPLOYMENT_ID` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DATABASECHANGELOG`
--

LOCK TABLES `DATABASECHANGELOG` WRITE;
/*!40000 ALTER TABLE `DATABASECHANGELOG` DISABLE KEYS */;
/*!40000 ALTER TABLE `DATABASECHANGELOG` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DATABASECHANGELOGLOCK`
--

DROP TABLE IF EXISTS `DATABASECHANGELOGLOCK`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DATABASECHANGELOGLOCK` (
  `ID` int NOT NULL,
  `LOCKED` tinyint NOT NULL,
  `LOCKGRANTED` datetime DEFAULT NULL,
  `LOCKEDBY` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DATABASECHANGELOGLOCK`
--

LOCK TABLES `DATABASECHANGELOGLOCK` WRITE;
/*!40000 ALTER TABLE `DATABASECHANGELOGLOCK` DISABLE KEYS */;
INSERT INTO `DATABASECHANGELOGLOCK` VALUES (1,0,NULL,NULL);
/*!40000 ALTER TABLE `DATABASECHANGELOGLOCK` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campanha_documento_downloads`
--

DROP TABLE IF EXISTS `campanha_documento_downloads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanha_documento_downloads` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `documento_id` bigint NOT NULL,
  `usuario_id` bigint NOT NULL,
  `baixado_em` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_documento_download_usuario` (`documento_id`,`usuario_id`),
  KEY `fk_documento_download_usuario` (`usuario_id`),
  CONSTRAINT `fk_documento_download_documento` FOREIGN KEY (`documento_id`) REFERENCES `campanha_documentos` (`id`),
  CONSTRAINT `fk_documento_download_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campanha_documento_downloads`
--

LOCK TABLES `campanha_documento_downloads` WRITE;
/*!40000 ALTER TABLE `campanha_documento_downloads` DISABLE KEYS */;
INSERT INTO `campanha_documento_downloads` VALUES (1,1,5,'2026-08-19 15:18:03'),(2,1,4,'2026-08-19 17:02:05');
/*!40000 ALTER TABLE `campanha_documento_downloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campanha_documentos`
--

DROP TABLE IF EXISTS `campanha_documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanha_documentos` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `campanha_id` bigint NOT NULL,
  `enviado_por_id` bigint NOT NULL,
  `nome_arquivo` varchar(255) NOT NULL,
  `tipo_conteudo` varchar(100) NOT NULL,
  `tamanho_bytes` bigint NOT NULL,
  `conteudo` mediumblob,
  `enviado_em` timestamp NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_documento_campanha` (`campanha_id`),
  KEY `fk_documento_usuario` (`enviado_por_id`),
  CONSTRAINT `fk_documento_campanha` FOREIGN KEY (`campanha_id`) REFERENCES `campanhas` (`id`),
  CONSTRAINT `fk_documento_usuario` FOREIGN KEY (`enviado_por_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campanha_documentos`
--

LOCK TABLES `campanha_documentos` WRITE;
/*!40000 ALTER TABLE `campanha_documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `campanha_documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campanha_membros`
--

DROP TABLE IF EXISTS `campanha_membros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanha_membros` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `campanha_id` bigint NOT NULL,
  `usuario_id` bigint NOT NULL,
  `papel` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_campanha_membro_campanha_user` (`campanha_id`,`usuario_id`),
  KEY `idx_campanha_membro_campanha` (`campanha_id`),
  KEY `idx_campanha_membro_user` (`usuario_id`),
  CONSTRAINT `fk_campanha_membro_campanha` FOREIGN KEY (`campanha_id`) REFERENCES `campanhas` (`id`),
  CONSTRAINT `fk_campanha_membro_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campanha_membros`
--

LOCK TABLES `campanha_membros` WRITE;
/*!40000 ALTER TABLE `campanha_membros` DISABLE KEYS */;
INSERT INTO `campanha_membros` VALUES (3,2,1,'MESTRE'),(4,2,3,'JOGADOR'),(5,2,4,'JOGADOR'),(6,2,5,'JOGADOR'),(7,2,6,'JOGADOR');
/*!40000 ALTER TABLE `campanha_membros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campanhas`
--

DROP TABLE IF EXISTS `campanhas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `campanhas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `descricao` text,
  `sistema` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campanhas`
--

LOCK TABLES `campanhas` WRITE;
/*!40000 ALTER TABLE `campanhas` DISABLE KEYS */;
INSERT INTO `campanhas` VALUES (2,'Sombras de S├úo Raguel','','COC');
/*!40000 ALTER TABLE `campanhas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personagens`
--

DROP TABLE IF EXISTS `personagens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personagens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `campanha_membro_id` bigint NOT NULL,
  `nome` varchar(255) NOT NULL,
  `historia` text,
  `aparencia` text,
  `image_url` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `dados_ficha_json` longtext,
  PRIMARY KEY (`id`),
  KEY `fk_personagem_campanha_membro` (`campanha_membro_id`),
  CONSTRAINT `fk_personagem_campanha_membro` FOREIGN KEY (`campanha_membro_id`) REFERENCES `campanha_membros` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personagens`
--

LOCK TABLES `personagens` WRITE;
/*!40000 ALTER TABLE `personagens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personagens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_email_verificacoes`
--

DROP TABLE IF EXISTS `usuario_email_verificacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_email_verificacoes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `token` varchar(100) NOT NULL,
  `expires_at` timestamp NOT NULL,
  `used_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `fk_email_verificacao_usuario` (`usuario_id`),
  KEY `idx_email_verificacao_token` (`token`),
  CONSTRAINT `fk_email_verificacao_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_email_verificacoes`
--

LOCK TABLES `usuario_email_verificacoes` WRITE;
/*!40000 ALTER TABLE `usuario_email_verificacoes` DISABLE KEYS */;
INSERT INTO `usuario_email_verificacoes` VALUES (1,1,'9e422bfd-e8d0-466b-aaa9-7ffd7c16ffb8','2026-07-25 18:51:20','2026-07-24 18:51:32'),(3,3,'3b4d6b4c-6cbd-43c2-8f9d-7ace7e5ac468','2026-08-10 01:10:37','2026-08-09 01:14:25'),(4,4,'10e7272d-8a61-4380-9f7c-e26b17359d9f','2026-08-18 23:25:45','2026-08-17 23:26:45'),(5,5,'c35fa81d-6884-4bc9-8381-b8662c811922','2026-08-20 14:50:24','2026-08-19 14:51:46'),(6,6,'a24d08e6-6f21-4f93-aa50-561870ecbace','2026-08-20 15:51:46','2026-08-19 15:52:13');
/*!40000 ALTER TABLE `usuario_email_verificacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario_recuperacao_senhas`
--

DROP TABLE IF EXISTS `usuario_recuperacao_senhas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario_recuperacao_senhas` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `token` varchar(100) NOT NULL,
  `expires_at` timestamp NOT NULL,
  `used_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `fk_usuario_recuperacao_senha_usuario` (`usuario_id`),
  KEY `idx_usuario_recuperacao_senha_token` (`token`),
  CONSTRAINT `fk_usuario_recuperacao_senha_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario_recuperacao_senhas`
--

LOCK TABLES `usuario_recuperacao_senhas` WRITE;
/*!40000 ALTER TABLE `usuario_recuperacao_senhas` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario_recuperacao_senhas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nome` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `senha` varchar(255) DEFAULT NULL,
  `auth_provider` varchar(50) DEFAULT NULL,
  `provider_user_id` varchar(255) DEFAULT NULL,
  `username` varchar(255) NOT NULL,
  `email_verificado` tinyint NOT NULL DEFAULT '0',
  `email_verificado_em` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `uk_usuario_provider` (`auth_provider`,`provider_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-19 21:28:07
